{% extends "base.html" %}
{% block content %}
<section id="editor">
  <h2>Cover Letter Editor</h2>
  <form action="{{ url_for('main.download_pdf') }}" method="post">
    <div class="details-grid">
      <input type="text" id="name-input" placeholder="Your Name" class="grid-col-span-2" value="Harry Sadleir">
      <input type="text" id="email-input" placeholder="Email" value="harrysadleir@gmail.com">
      <input type="text" id="phone-input" placeholder="Phone Number" value="(+44) 07590 927455">
      <input type="text" id="postcode-input" placeholder="Postcode" value="TW12 2EG">
      <input type="text" id="github-text-input" placeholder="GitHub Link Text" value="GitHub">
      <input type="text" id="github-url-input" placeholder="GitHub URL" value="https://github.com/harrysadleir">
      <input type="text" id="portfolio-text-input" placeholder="Portfolio Link Text" value="Portfolio">
      <input type="text" id="portfolio-url-input" placeholder="Portfolio URL" value="https://harrysadleir.com">
    </div>
    <div class="editor-container">
      <div class="editor-pane">
        <textarea id="markdown-input-intro" placeholder="Intro..." class="markdown-segment">This is the intro section.</textarea>
        <textarea id="markdown-input-1" placeholder="Point 1..." class="markdown-segment">This is point 1.</textarea>
        <textarea id="markdown-input-2" placeholder="Point 2..." class="markdown-segment">This is point 2.</textarea>
        <textarea id="markdown-input-3" placeholder="Point 3..." class="markdown-segment">This is point 3.</textarea>
        <textarea id="markdown-input-conclusion" placeholder="Conclusion..." class="markdown-segment">This is the conclusion.</textarea>
        <textarea name="markdown" id="markdown-input" style="display: none;"></textarea>
      </div>
      <div class="preview-pane" id="preview"></div>
    </div>
    <br>
    <button type="submit" class="hero__links a">Download PDF</button>
  </form>
</section>

<script src="{{ url_for('static', filename='editor.js') }}?v={{ ASSET_VER|default('1') }}"></script>
{% endblock %}
